<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" thread-count="5"
          name="C:/Users/kavitha/IdeaProjects/MyStoreHybridFramework/src/test/java/Com/Mystore/Testcases">
       <!-- <parameter name="Browser" value=""></parameter> -->
        <groups>
            <run>
                <include name="Regression"> </include>
            </run>
        </groups>
        <classes>
            <class name="Com.Mystore.Testcases.AccountCreationTest"/>
            <class name="Com.Mystore.Testcases.AddToCartTest"/>
            <class name="Com.Mystore.Testcases.EndToEndTest"/>
            <class name="Com.Mystore.Testcases.HomePageTest"/>
            <class name="Com.Mystore.Testcases.IndexPageTest"/>
            <class name="Com.Mystore.Testcases.LoginPageTest"/>
            <class name="Com.Mystore.Testcases.OrderPageTest"/>
            <class name="Com.Mystore.Testcases.SearchResultsPageTest"/>
        </classes>
    </test>
</suite>